<!DOCTYPE html>
<html>

<head>
    <title>Upd & downloader</title>
    <link href="./static/style_b.css" rel="stylesheet"><meta charset="utf-8" name="viewport" 
    content= "width=device-width, initial-scale=1.0">
    </head>
<body>

{% block body %}


<form action='/' method="POST">
    
    <input type='text' name="title" id="title">
    <input type="text" name="desc" id="desc">
    <input type='submit' value='Submit'>
    
</form> 
<h1>hello this is new</h1>

{% endblock body %}
<!--h1>downlaods</h1>
    <a href="/download" >Click to open a folder</a-->
</body>

</html>