<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Personal Server</title>
    <link href="./static/index.css" rel="stylesheet">
</head>
<style>
    h1{
        border:2px solid blue"> 
    }
  
</style>
<body>
    <section>
        <h1>Personal Server </h1>
    </section>
<div id="container">

    <div id="upload_main">
        <div id="upload_border">
            <div id="upload_title">
                <span id="upd_title_text">Uploads Files</span>
            </div>
            <div id="upload_img">
                <a href="/upload"><img src="./static/img/upd.png"></a>
            </div>
        </div>
    </div>

<!--download section-->
<div id="download_main">
    <div id="download_border">
        <div id="download_title">
            <span id="upd_title_text">Download Files</span>
        </div>
        <div id="download_img">
            <a href="/download"><img src="./static/img/dl2.png"></a>
            </div>
    </div>
</div>

</div>   
<script src="script.js"></script> 
</body>
</html>